.Container{
position:absolute;
width:100%;
height:100%;
background-color:pink;
}

.header{
position:absolute;
width:100%;
height:15%;
background-color:blue;
}

.header img{
position:absolute;
width:4%;
height:50%;
margin-left:2%;
margin-top:1%;
border-radius:10px;
}

.header #heading{
position:absolute;
width:30%;
height:80%;
margin-left:70%;
color:yellow;
font-size:30px;

}

.question{
position:absolute;
width:30%;
height:70%;
margin-top:10%;
margin-left:3%;
color:blue;
font-size:20px;
background-color:white;
}


.question form{
position:absolute;
width:100%;
height:100%;

}

.question #l0{
margin-left:1px;
position:absolute;
width:100%;
height:10%;
background-color:orange;
}

#method{
position:absolute;
width:25%;
height:7%;
font-size:22px;
margin-left:2%;
margin-top:5%;
font-weight:bold;
}


.question form select{
margin-left:1px;
position:absolute;
width:60%;
height:7%;
padding-left:10%;
padding-bottom:1%;
margin-left:25%;
margin-top:5%;
background-color:pink;
font-size:18px;
}



.question #addrows{
position:absolute;
width:16%;
height:6%;
margin-top:10%;
margin-left:44%;
font-size:15px;
background-color:aliceblue;
}

.question #Calculate{
position:absolute;
width:16%;
height:6%;
margin-top:19%;
margin-left:44%;
font-size:15px;
background-color:green;
}

.question #clear{
position:absolute;
width:16%;
height:6%;
margin-top:10%;
margin-left:68%;
font-size:15px;
background-color:yellow;
}

.question form #rowsname {
position:absolute;
margin-top:10%;
width:50%;
height:10px;
padding-left:10px;
font-size:20px;
font-weight:bold;
}

.question form #coloumsname {
position:absolute;
margin-top:19%;
margin-left:0%;
width:50%;
height:10px;
padding-left:10px;
font-size:20px;
font-weight:bold;
}



.question form #rowName {
position:absolute;
margin-top:10%;
margin-left:25%;
width:13%;
height:30px;
padding-left:10px;
font-size:14px;
}

.question form #columnName {
position:absolute;
margin-top:19%;
margin-left:25%;
width:13%;
height:30px;
padding-left:10px;
font-size:14px;
}



input:focus {
background-color: rgb(203, 250, 184);;
}










.answer{
position:absolute;
width:55%;
height:70%;
margin-top:10%;
margin-left:39%;
background-color:white;
}
.answer #l4{
position:fixed;
width:55%;
height:7%;
font-size:30px;
background-color:orange;
text-align:center;
}











.motto{
position:absolute;
width:25%;
height:20%;
padding-top:2%;
background-color:blue;
color:orange;
margin-left:40%;
font-size:30px;
}
#LordGanesh{
position:absolute;
width:6%;
height:70%;
left:30%;

}
#LordSaraswati{
position:absolute;
width:6%;
height:70%;
left:65%;

}
#swastika{
position:absolute;
width:3%;
height:40%;
left:1%;
top:15%;

}

.header span{
position:absolute;
width:10%;
height:80%;
margin-top:2%;
margin-left:100px;
color:orange;
font-size:20px;
}

.matrix{
position:absolute;
width:100%;
height:60%;
margin-top:43%;
margin-left:3%;
overflow:auto;
border:none;
}
.matrix table{
border:none;
background-color:aliceblue;
text-align:center;
}
.matrix table input{
border:none;
height:40px;
text-align:center;
font-size:15px;
}

.answer .answerContent{
position:absolute;
width:95%;
height:89%;
margin-top:7%;
margin-left:5%;
overflow:auto;
}

.answerContent table,th,td {
border:1px solid ;
text-align:center;
width:1px;
}

