

.container-fluid
{
position:relative;
left: 5%
}
a:hover
{
background-color:rgb(7, 40, 146);
}
.navbar-brand,img
{
position:relative;
top: 3%;
width:60px;
height:60px;
left:1px;
padding-bottom:3%;
border-radius:10px;

}
.icon
{
position:absolute;
top: 3%;
width:60px;
height:60px;
left:1%;
border-radius:10px;
}
.pen
{
position:absolute;
height:5%;
width:100%;
top:95%;
background-color:rgb(220, 228, 255);
text-align:center;
padding-top:5px;
}