<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/same.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel = "icon" href ="{% static 'image/swastika.jpg'%}" type = "image/x-icon">
    <script src="{% static 'javascript/all.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/popper.min.js' %}"></script>
</head>
<body>


<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <div class="container-fluid">
       <a class="navbar-brand" href="#">
      <img src="{% static 'image/swastika.jpg'%}" alt="swastika" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About </a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'privacy' %}">Privacy</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'policy' %}">Policy</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'check_console' %}">Console</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'feedback' %}">Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
<span class="pen">
    © Copyright 2021 All Rights Reserved ePavitram
</span>



<div class="about">
    <header> About Us</header>
    <p>

         <font color="blue">Goal of our</font>
         <font color="#9994da">organization is</font>
         <font color="blue">provides the </font>
         <font color="green">Useful </font>  ,
         <font color="red">Meaningful</font>
         <font color="orange">And Holiness</font>
           <font color="#e905ca">information</font>  and <font color="#06c4fd">knowledge </font> <font color="#8aaeb9">to peoples.</font><br><br>

    </p>


</div>

</body>
</html>